
<h1><%= @organism.species %></h1>

<strong>Sighting Location:</strong> <%= @organism.location.capitalize %><br/><br>

<strong>User's that spotted <%= @organism.species %></strong></br>

<% @organism.users.each do |user| %>
<%= link_to user.name, user_path(user) %><br>
<% end  %>
