<%= stylesheet_link_tag "user" %>

<div id="links_on_director">
<h1>NatureGo Directory</h1>
<table>


<% @users.each do |user| %>
  <div><%= link_to user.name, user_path(user) %></div>
  <%= user.interest%><br>
<% end %>
</table>
</div>
