<%= stylesheet_link_tag "user" %>

<div id="links_on_director">
<h1>NatureGo Directory</h1>
<table>

<tr>
    <th>Name</th>

    <th>Interest</th>
  </tr>
<% @users.each do |user| %>
<td><%= link_to user.name, user_path(user), id: "links_on_directory" %></td>
  <td><%= user.interest%></td>
<% end %>
</table>
</div>
