<h1>NatureGo Directory</h1>
<table>

<tr>
    <th>Name</th>

    <th>Interest</th>
  </tr>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, user_path(user) %></td>
  <td><%= user.interest%></td>
</tr>
<br>

<% end %>
</table>
